body {
}

.footerlinks{
    color: #ffffff;
    text-decoration: none !important;
}
    .footerlinks:hover {
        color: #ffd800;
    }

#footer1 {
    background: #ff00dc;
}

#footer2 {
    background: #00ff90;
}
